<div class="form-signin-container bg-secondary">
  <div class="form-signin">
    <form action="/changepassword" method="post">
      {{#if messages.error}}
        <h1
          class="h3 mb-3 font-weight-normal text-center text-danger"
        >{{messages.error}}, try again</h1>
      {{else}}
        <h1 class="h3 mb-3 font-weight-normal text-center">Change password</h1>
      {{/if}}
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          value="{{useremail}}"
          name="email"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Old Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Old Password"
          name="oldpassword"
          required
        />
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">New Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="New Password"
          name="newpassword"
          required
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button class="btn btn-primary" type="submit">submit</button>
      <a href="/" class="btn btn-secondary">Dashboard</a>
    </form>
  </div>
</div>