<div class="container-fluid">
    <div class="row m-5 shadow-box justify-content-center">
        <div class="col-12 h3 text-center mt-5">
            Contact Admin!!
        </div>
        <div class="col-12 h3 text-center mt-5">
            Your Account is Not Activated
        </div>
        <div class="col-12 h3 text-center mt-5">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-info">Login again</button>
            </form>
        </div>
    </div>
</div>