<div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand mx-auto" href="#">Social Media Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="">
  <div class="mt-5 pt-1">
    <div class="row">
      <div class="col-12 text-center p-5 mt-5">
        <h1 class="">Social Media Manager</h1>
        <p class="mt-3 col-3 mx-auto">
          Social Media Manager is dedicated to solving your problems regarding
          all your social media handles. Connect all social media handles in
          single window and publish your content with single click.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center p-5 mt-5">
        <img src="/images/img.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="row mt-1 bg-secondary py-5 text-center text-white">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <i class="fas fa-globe fa-3x"></i>
    <p class="ml-5 mb-0">Grow Your Reach And Build Your Own Community</p>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <i class="fas fa-people-carry fa-3x"></i>
    <p class="ml-5 mb-0">Manage All Your Social Media Accounts</p>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <i class="fas fa-hands fa-3x"></i>
    <p class="ml-5 mb-0">Share And Publish Your Content To Your Followers</p>
  </div>
</div>