<div class="form-signin-container bg-secondary">
  <div class="form-signin">
    <form action="/login" method="post">
      {{#if messages.error}}
        <h1
          class="h3 mb-3 font-weight-normal text-center text-danger"
        >{{messages.error}}, try again</h1>
      {{else}}
        <h1 class="h3 mb-3 font-weight-normal text-center">Please Login</h1>
      {{/if}}
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input
          aria-describedby="emailHelp"
          type="email"
          class="form-control"
          placeholder="Email address"
          name="email"
          required
          autofocus
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          name="password"
          required
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/" class="btn btn-secondary">Home</a>
    </form>
  </div>
</div>